<p id="notice"><%= notice %></p>

<h1>League Information</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Runs</th>
      <th>HR</th>
      <th>RBI</th>
      <th>SB</th>
      <th>AVG</th>
      <th>K</th>
      <th>Wins</th>
      <th>Saves</th>
      <th>Era</th>
      <th>Whip</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_seasons.each do |season| %>
      <tr class=<%=cycle("even", "odd")%> >
        <td><%= season.name %></td>
        <td><%= season.run_pts %></td>
        <td><%= season.hr_pts %></td>
        <td><%= season.rbi_pts %></td>
        <td><%= season.sb_pts %></td>
        <td><%= season.avg_pts %></td>
        <td><%= season.k_pts %></td>
        <td><%= season.win_pts %></td>
        <td><%= season.sv_pts %></td>
        <td><%= season.era_pts %></td>
        <td><%= season.whip_pts %></td>
        <td><%= season.ttl_pts %></td>
      </tr>
    <% end %>
  </tbody>
</table>

