
<table class="tablesorter-blue">
 <tr class="team-project-totals">
    <td colspan="3"></td>
    <td>Batting Totals:</td>
    <td><%= batter_totals[:runs]%></td>
    <td id="hr_total"><%= batter_totals[:hr]%></td>
    <td><%= batter_totals[:rbi] %></td>
    <td><%= batter_totals[:sb]%></td>
    <td><%= round_4 batter_totals[:average]%></td>
    <td></td>
  </tr>
 </table>