<table id="myTable"  class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Team name</th>
      <th>Avg Place</th>
      <th>Avg Points</th>
      <th>Num titles</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr class=<%=cycle("even", "odd")%> >
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.team_name %></td>
        <td><%= owner.place_avg %></td>
        <td><%= owner.total_points_avg %></td>
        <td><%= owner.num_titles %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[4,1]],
     sortRestart : true,
     sortInitialOrder: 'desc',
   });
  
</script>