<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Team</th>
      <th>Pos</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @batters.each do |player| %>
      <tr>
        <td><%= player[:first_name] %></td>
        <td><%= player[:last_name] %></td>
        <td><%= player.battings[0].mlbteam[:abbr] %></td>
        <td><%= player.positions[0][:pos]%></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[0,0]],
     sortRestart : true,
     sortInitialOrder: 'desc',
   });
  
</script>

