<table class="tablesorter-blue">
	 <tr class="team-project-totals">
      <td colspan="3"></td>
      <td>Pitching Totals:</td>
      <td><%= pitcher_totals[:so]%></td>
      <td><%= pitcher_totals[:wins]%></td>
      <td><%= pitcher_totals[:sv] %></td>
      <td><%= round_4 pitcher_totals[:era]%></td>
      <td><%= round_4 pitcher_totals[:whip]%></td>
      <td></td>
    </tr>
</table>