<h1>Batters</h1>
<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>ESPN Rank</th>
      <th>MLB Rank</th>
      <th>CBS Rank</th>
      <th>First</th>
      <th>Last</th>
      <th>Age</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Runs</th>
      <th>Home Runs</th>
      <th>RBIs</th>
      <th>SB</th>
      <th>BA</th>
      <th>ADP</th>
      <th>wRC+</th>
      <th>Compare</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= player.player_ranking[:espn] unless player.player_ranking.blank? %></td>
        <td><%= player.player_ranking[:mlb] unless player.player_ranking.blank? %> </td>
        <td><%= player.player_ranking[:cbs] unless player.player_ranking.blank? %>
        </td>
        <td class="first-name"><%= player[:first_name] %></td>
        <td class="last-name"><%= player[:last_name] %></td>
        <td><%= age player[:birthday] %></td>
        <td><%= player.positions[0].pos unless player.positions[0].nil?%></td>
        <td><%= player.battings[0].mlbteam[:abbr] %></td>
        <td><%= player.battings[0][:runs] %></td>
        <td><%= player.battings[0][:hr] %></td>
        <td><%= player.battings[0][:rbi]%></td>
        <td><%= player.battings[0][:sb]%></td>
        <td><%= player.battings[0][:average]%></td>
        <td><%= player.battings[0][:adp]%></td>
        <td><%= player.battings[0][:wrc]%></td>
        <td><%= check_box_tag 'compare', player[:id], checked = false, class: "compare-cb" %></td>
        <td><%= link_to 'Show', player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[0,0]],
     sortRestart : true,
     sortInitialOrder: 'desc',
   });
</script>
