<h1>Listing Players</h1>

<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Team</th>
      <th>Runs</th>
      <th>Home Runs</th>
      <th>RBIs</th>
      <th>SB</th>
      <th>BA</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @h[:first]%></td>
        <td><%= @h[:last] %></td>
        <td><%= @h[:runs] %></td>
      
      </tr>
  </tbody>
</table>


<!-- must move this code to view -->
<%=  radio_button :player, :first_name, "DJ", remote: true %>
<%= label_tag("Player") %>

<div id="target-for-change">
  Now you see "ME"!
</div>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[7,1]] 
   });
</script>