<h1>Pitchers</h1>

<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>ESPN Rank</th>
      <th>MLB Rank</th>
      <th>CBS Rank</th>
      <th>First</th>
      <th>Last</th>
      <th>Age</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Ks</th>
      <th>SVs</th>
      <th>Era</th>
      <th>Whip</th>
      <th>ADP</th>
      <th>FIP</th>
      <th>Compare</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
      <td><%= player.player_ranking[:espn] unless player.player_ranking.blank? %> </td>
      <td><%= player.player_ranking[:mlb] unless player.player_ranking.blank? %> </td>
      <td><%= player.player_ranking[:cbs] unless player.player_ranking.blank? %>
        </td>
        <td class="first-name"><%= link_to player.first_name, player_path(player) %></td>
        <td class="last-name"><%= player.last_name %></td>
        <td><%= age player[:birthday] %></td>
        <td><%= player.positions[0].pos unless player.positions[0].nil? %> </td>
        <td><%= player.pitchings[0].mlbteam.abbr %></td>
        <td><%= player.pitchings[0].wins %></td>
        <td><%= player.pitchings[0].so %></td>
        <td><%= player.pitchings[0].sv%></td>
        <td><%= player.pitchings[0].era%></td>
        <td><%= player.pitchings[0].whip%></td>
        <td><%= player.pitchings[0].adp%></td>
        <td><%= player.pitchings[0].fip%></td>
        <td><%= check_box_tag 'compare', player[:id], checked = false, class: "compare-cb" %></td>
        <td data-playerid="<%=player.id%>"><%= collection_select(:player, :owner_id, Owner.where(active:true), :id, :name, {selected: player.owner_id, include_blank: "Select"}, class:"change-owner")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[0,0]],
     sortRestart : true,
     sortInitialOrder: 'desc',
   });


</script>
