<h1>Pitchers</h1>

<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>Pos Rank</th>
      <th>ESPN Rank</th>
      <th>CBS Rank</th>
      <th>First</th>
      <th>Last</th>
      <th>Age</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Ks</th>
      <th>SVs</th>
      <th>Era</th>
      <th>Whip</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
      <td><%= index + 1 %>
      <td><%= player.player_ranking[:espn] unless player.player_ranking.blank? %> </td>
      <td><%= player.player_ranking[:cbs] unless player.player_ranking.blank? %> 
        </td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= age player[:birthday] %></td>
        <td><%= player.pitchings[0].mlbteam.abbr %></td>
        <td><%= player.pitchings[0].wins %></td>
        <td><%= player.pitchings[0].so %></td>
        <td><%= player.pitchings[0].sv%></td>
        <td><%= player.pitchings[0].era%></td>
        <td><%= player.pitchings[0].whip%></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#myTable").tablesorter({
     widgets: ['zebra'],
     sortList: [[0,0]],
     sortRestart : true,
     sortInitialOrder: 'desc',
   });
  
</script>
