<div class="container-fluid">
  <%= form_tag("/stats/index", { class: "form-inline", role: 'form', method: "get", remote: true}) do %>

  <div class="row">
  <div class="col-xs-3">
    <%= label_tag(:q, "Last Name:") %>
    <%= text_field_tag(:q, "", class: "form-control") %>
  </div>
  </div>

    <div class="form-spacing">
    	<%= label_tag(:year, "Select Year") %>
  		<%= collection_select(:year, :id, Year.order(year: :desc), :year, :year, {}, {class: "form-control"}) %>
    </div>

    <div class="form-spacing">
      <%= label_tag(:avail_players, "Player Status") %>
      <%= select_tag(:avail_players, options_for_select([['All', true], ['Available', false]]), class: "form-control") %>
    </div>
    <div class="form-spacing">
  	  <%= radio_button_tag(:bat_pitch, true, true) %>
  		<%= label_tag(:bat, "BAT") %>
  		<%= radio_button_tag(:bat_pitch, false) %>
  		<%= label_tag(:pos_1b, "PITCH") %>
  	</div>
    <div class="form-spacing">
    	<%= radio_button_tag(:pos, "a", ( !params[:pos].nil? ? (params[:pos]=="a") : 0	 ) ) %>
  		<%= label_tag(:pos_a, "ALL") %>
  	  <%= radio_button_tag(:pos, "c", ( params[:pos] != 'c' ? (params[:pos]=="c") : 0 ) ) %>
  		<%= label_tag(:pos_c, "C") %>
  		<%= radio_button_tag(:pos, "1b", ( params[:pos] != '1b' ? (params[:pos]=="1b") : 0 )) %>
  		<%= label_tag(:pos_one, "1B") %>
  		<%= radio_button_tag(:pos, "2b", ( params[:pos] != '2b' ? (params[:pos]=="2b") : 0 )) %>
  		<%= label_tag(:pos_2b, "2B") %>
  		<%= radio_button_tag(:pos, "3b", ( params[:pos] != '3b' ? (params[:pos]=="3b") : 0 )) %>
  		<%= label_tag(:pos_3b, "3B") %>
  		<%= radio_button_tag(:pos, "ss", ( params[:pos] != 'ss' ? (params[:pos]=="ss") : 0 )) %>
  		<%= label_tag(:pos_ss, "SS") %>
  		<%= radio_button_tag(:pos, "of", ( params[:pos] != 'of' ? (params[:pos]=="of") : 0 )) %>
  		<%= label_tag(:pos_of, "OF") %>
  		<%= radio_button_tag(:pos, "sp", false, style: "display:none") %>
  		<%= label_tag(:pos_p, "SP", style: "display:none") %>
  		<%= radio_button_tag(:pos, "rp", false, style: "display:none") %>
  		<%= label_tag(:pos_rp, "RP", style: "display:none") %>
  	</div>
    <%= submit_tag "Search", name: nil, id: "search-submit", class: "form-control"%>
  <% end %>

  <div class="spinner"></div>
  <div id="stats">
  	<%= render partial: "batter" %>
  </div>
</div>
<script type="text/javascript">

	$('input[type="radio"]').click(function(){
		$("#q").val("");
	});
	var pitch = document.getElementById('bat_pitch_false');
  // var btn_c = document.getElementsByName('pos')
  pitch.onclick = function() {
      $("#pos_c").hide();
      $('label[for="pos_c"]').hide();
      $("#pos_1b").hide();
      $('label[for="pos_one"]').hide();
      $("#pos_2b").hide();
      $('label[for="pos_2b"]').hide();
      $("#pos_2b").hide();
      $('label[for="pos_2b"]').hide();
      $("#pos_3b").hide();
      $('label[for="pos_3b"]').hide();
      $("#pos_ss").hide();
      $('label[for="pos_ss"]').hide();
      $("#pos_of").hide();
      $('label[for="pos_of"]').hide();
      $("#pos_sp").show();
      $('label[for="pos_p"]').show();
      $("#pos_rp").show();
      $('label[for="pos_rp"]').show();
      $("#pos_a").prop('checked', true);
  };

  var bat = document.getElementById('bat_pitch_true');
  // var btn_c = document.getElementsByName('pos')
  bat.onclick = function() {
  		$("#pos_c").show();
      $('label[for="pos_c"]').show();
      $("#pos_1b").show();
      $('label[for="pos_one"]').show();
      $("#pos_2b").show();
      $('label[for="pos_2b"]').show();
      $("#pos_2b").show();
      $('label[for="pos_2b"]').show();
      $("#pos_3b").show();
      $('label[for="pos_3b"]').show();
      $("#pos_ss").show();
      $('label[for="pos_ss"]').show();
      $("#pos_of").show();
      $('label[for="pos_of"]').show();
      $("#pos_sp").hide();
      $('label[for="pos_p"]').hide();
      $("#pos_rp").hide();
      $('label[for="pos_rp"]').hide();
      $("#pos_a").prop('checked', true);
       // if($('#pos_c').is(':checked')) { alert("it's checked")};
   //    $.ajax({
			// type: 'GET',
			// url: "partial",
			// data: {
			// 	pos: "1b"
			// },
			//  });
  };
</script>
