<h1>Listing Players</h1>

<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Team</th>
      <th>Runs</th>
      <th>Home Runs</th>
      <th>RBIs</th>
     
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.battings.first.mlbteam.abbr %></td>
        <td><%= player.battings.first.runs %></td>
        <td><%= player.battings.first.hr %></td>
        <td><%= player.battings.first.rbi%></td>
      </tr>
    <% end %>
  </tbody>
</table>